li{
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
}


.correct_card{
    background-color: #9FC5F8;
}

.selected_correct_card{
    background-color: #93C47D;
}

.selected_wrong_card{
    background-color: #E06666;
}

.correct_start_card{
    background-color: #FFE599;
}
