.strike{
    text-decoration: line-through;
}
.hidden{
    display: none;
}
.active{
    color :red;
}

*{
    list-style: none;
}

ul{
    padding: 0px;
}

#todo{
    width: 100%;
}
#todo >div{
    width: 40%;
    margin: 0px auto;
}

#todo form{
    border: 1px solid #E6E6E6;
    padding: 10px;
}

#todo form input{
    width: 89%;
    margin-left: 19px;
    width: 40%;
    font-size:16px;
}

input[disabled]{
    opacity : .5;
}


label{
    display:block;
}

.error_message{
    color:red;
}
