* {
  font-family: sans-serif;
  /* text-align: center; */
}
#wrapper {
  width: 100%;
  background-color: #EDF0F5;
}
#wrapper #header_container {
  min-height: 83px;
  width: 100%;
  background-color: #48649E;
  border-bottom: 1px solid #133783;
}
#wrapper #header_container .header_content {
  width: 73%;
  margin: 0px auto;
}
#wrapper #header_container .header_content #fb_title {
  margin-top: 16px;
}
#wrapper #header_container .header_content #fb_title span {
  font-size: 46px;
  font-weight: bold;
  color: white;
}
#wrapper #header_container .header_content #login_section {
  width: 380px;
  margin-top: 14px;
}
#wrapper #header_container .header_content #login_section div {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
}
#wrapper #header_container .header_content #login_section div span {
  display: block;
  font-size: 12px;
}
#wrapper #header_container .header_content #login_section div > span {
  color: white;
  margin-bottom: 3px;
}
#wrapper #header_container .header_content #login_section div input {
  width: 150px;
  border: 1px solid black;
  height: 22px;
}
#wrapper #header_container .header_content #login_section div a {
  color: #9CB4D8;
}
#wrapper #header_container .header_content #login_section div a span {
  margin-top: 5px;
}
#wrapper #header_container .header_content #login_section input[type=submit] {
  vertical-align: bottom;
  margin-bottom: 22px;
  background-color: #4267B2;
  border: 1px solid #29487D;
  border-radius: 3px;
  height: 23px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}
#wrapper #registration label {
  display: block;
}
#wrapper #registration label span {
  text-align: left;
  display: inline-block;
  width: 110px;
}
#wrapper #registration label input {
  width: 100px;
  padding: 0px;
  margin: 0px;
}
#wrapper #main_container {
  width: 73%;
  margin: 0px auto;
}
#wrapper #main_container #left_content {
  display: inline-block;
  margin-top: 42px;
  width: 59%;
}
#wrapper #main_container #left_content h3 {
  font-weight: bold;
  font-size: 26px;
  display: block;
  line-height: 34px;
  margin-bottom: 47px;
  width: 410px;
}
#wrapper #main_container #left_content .find_share_update_logo {
  margin: 10px 0px 30px 0px;
  margin-bottom: 30px;
}
#wrapper #main_container #left_content .find_share_update_logo img,
#wrapper #main_container #left_content .find_share_update_logo h5,
#wrapper #main_container #left_content .find_share_update_logo span {
  display: inline-block;
}
#wrapper #main_container #left_content .find_share_update_logo h5 {
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  margin-left: 23px;
  margin-right: 14px;
}
#wrapper #main_container #left_content .find_share_update_logo span {
  color: #666666;
}
#wrapper #main_container #left_content .find_share_update_logo:nth-child(4) img {
  width: 50px;
}
#wrapper #main_container #right_content {
  vertical-align: top;
  display: inline-block;
  width: 40%;
}
#wrapper #main_container #right_content .top_text {
  margin-bottom: 19px;
}
#wrapper #main_container #right_content .top_text h1 {
  font-weight: bold;
  margin-bottom: 0px !important;
}
#wrapper #main_container #right_content .top_text span {
  font-size: 17px;
}
#wrapper #main_container #right_content #registration form > span {
  font-size: 10px;
  line-height: 10px;
}
#wrapper #main_container #right_content #registration form input[type="text"] {
  padding: 10px;
  height: 37px;
  border-radius: 5px;
  border: 1px solid #BDC7D8;
  margin-bottom: 10px;
}
#wrapper #main_container #right_content #registration form input[type="submit"] {
  display: block;
  background-color: #5F9D4C;
  border: 1px solid #2C5115;
  width: 196px;
  height: 41px;
  border-radius: 2px;
  margin-top: 24px;
  font-weight: bold;
  color: white;
  font-size: 19px;
}
#wrapper #main_container #right_content #registration form input[name="first_name"],
#wrapper #main_container #right_content #registration form input[name="last_name"] {
  width: 191px;
}
#wrapper #main_container #right_content #registration form input[name="email_address"],
#wrapper #main_container #right_content #registration form input[name="password"] {
  width: 395px;
}
#wrapper #main_container #right_content #registration form input[name="first_name"] {
  margin-right: 11px;
}
#wrapper #main_container #right_content #registration form #user_birthday span {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
#wrapper #main_container #right_content #registration form #user_birthday select:nth-child(2) {
  width: 71px;
  height: 30px;
}
#wrapper #main_container #right_content #registration form #user_birthday select:nth-child(3) {
  width: 51px;
  height: 30px;
}
#wrapper #main_container #right_content #registration form #user_birthday select:nth-child(4) {
  width: 64px;
  height: 30px;
}
#wrapper #main_container #right_content #registration form #user_birthday a {
  font-size: 11px;
  display: inline-block;
  width: 150px;
  vertical-align: middle;
  margin-left: 10px;
}
#wrapper #main_container #right_content #registration form #user_gender {
  margin: 10px 0px;
}
#wrapper #main_container #right_content #registration form #user_gender span {
  font-size: 18px;
  line-height: 10px;
  margin-left: 10px;
}
#wrapper #main_container #right_content #registration form #user_gender input[type=radio]:nth-child(3) {
  margin-left: 15px;
}
